parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getEditable#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getInstance#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getTimezones#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getDateFormats#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getTimeFormats#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::getCurrencies#'
        - '#Method .* return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types#'
        - '#Method .* return type with generic class Illuminate\\Pagination\\LengthAwarePaginator does not specify its types#'
        - '#Method .* has parameter .* with no value type specified in iterable type array#'
        - '#Method .* return type has no value type specified in iterable type array#'
